.deetliih{
    background-color: blueviolet;
    height: 100px;
}
.tsenher{
    display: flex;
    flex-direction: row;
}
.ehnii-3{
    background-color: aqua;
    width: 300px;
    height: 800px;
}

